<!DOCTYPE html>
<html>
  <head>
    <title>P2-30765082</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="header"> 
      <div class="menu container">
        <input type="checkbox" id="menu">
           <label for="menu">
            <img src="images/menu.png" class="menu-icono" alt="menu">
           </label>
           <nav class="navbar">
           </nav>
             </div>
             <div class="header-content container">
              <div class="header-txt">
                <span>soy</span>
                <h1>desarrollador web full stack</h1>
                <a href="#" class="btn-1">informacion</a>
              </div>

             </div>
       </header>
    <section class="about container">
      <div>
        <img src="images/perfil.jpg" alt="">
      </div>
      <div class="about-txt">
        <h2>MI FORMA ACADEMICA</h2>
       <p>
          PRIMARIA: U.E.B. PEDRO RAFAEL COBOS
          <br>
          SECUNDARIA: U.E.I.P MADRE ENRIQUE DE LOURDES
          <br>
          UNIVERSITARI:ACTULMENTE ESTUDIANDO PROGRAMACION
            <br>
          </p>
          <h2>Mis Datos personales</h2>
          <p>
            NOMBRE :HENZO JESUS BRETO COLMENARES.
            <br>
            CEDULA:30765082.
            <br>
            CORREO:henzo30765082@gmail.com.
            <br>
            TELEFONO:04124328347.
            <br>
            DIRECCION:ARAGUA,SAN FRANCISCO DE ASIS ,SIMON BOLIVAR.
          </p>
       
        <div class="butons">
          <a href="#" class="btn-1">INFORMATICO</a>
          <a href="#" class="btn-1">TECNOLOGICO</a>
        </div>
      </div>
      
    </section>
    <main class="portfolio container">
      <h2>MIS DESTREZAS Y HABILIDADES</h2>
      <div class="portfolio-content">
        <div class="portfolio-1">
          <div class="portfolio-txt">
            <span>Proyecto</span>
            <p>
              1. Programación: 
              Tengo experiencia en varios lenguajes de programación como Java, 
              Python, C++, entre otros, lo que me permite desarrollar software y aplicaciones
               eficientes.
            <br>
              2. Análisis de Sistemas: Puedo analizar las necesidades de los
               usuarios y diseñar sistemas informáticos que cumplan con sus
                requerimientos de manera efectiva.
              <br>
              3. Seguridad Informática: Poseo conocimientos en 
              ciberseguridad para proteger sistemas y redes contra 
              posibles amenazas y vulnerabilidades.
              <br>
              Mi habilidad para resolver problemas complejos en el ámbito 
            de la informática me permite proponer soluciones innovadoras y adaptarme
             rápidamente a los avances tecnológicos. A través de mis habilidades 
             técnicas y analíticas, puedo diseñar y desarrollar software, configurar redes, 
             llevar a cabo pruebas de seguridad y optimizar sistemas para mejorar su rendimiento.
            
            </p>
            <a href="#" class="btn-1">leer mas</a>
          </div>
        
<div class="portfolio-img">
<img src="images/pr1.png" alt="">
</div>
        </div>
        <div class="portfolio-1">
          <div class="portfolio-img">
            <img src="images/pr2.png" alt="">
            </div>
          <div class="portfolio-txt">
            
           

          </div>
<div class="portfolio-2">
  <div class="portfolio-txt">
    <h3>
      MI EXPERIENCIA LABORAL
    </h3> 
    <P>
      
        Como informático, cuento con una amplia experiencia en el diseño, 
        desarrollo e implementación de sistemas informáticos y aplicaciones. 
        He trabajado en diversos proyectos que han abarcado desde la creación de 
        software a medida hasta la optimización de infraestructuras de red para mejorar
         la eficiencia y seguridad de los sistemas.
         <br>

Mi experiencia incluye la colaboración con equipos multidisciplinarios 
para identificar y resolver problemas técnicos complejos, así como la 
capacidad de adaptarme a las nuevas tecnologías y tendencias del sector 
de manera proactiva. He participado en la implementación de soluciones 
innovadoras que han mejorado la productividad y eficacia de las operaciones 
informáticas en diversas organizaciones.
<br>

Además, he adquirido habilidades en la gestión de proyectos informáticos,
desde la planificación y el seguimiento hasta la entrega exitosa dentro de
plazos y presupuestos establecidos. Mi enfoque en la mejora continua y el
aprendizaje constante me ha permitido mantenerme actualizado en un entorno
tecnológico en constante evolución.
<br>

En resumen, mi experiencia como informático me ha brindado
las habilidades y conocimientos necesarios para enfrentar
los desafíos del campo de la tecnología de la información 
y ofrecer soluciones efectivas a las demandas del mundo digital actual.
      
    </P>
    
  
  </div>
<div class="portfolio-img">
  <img src="images/pr3" alt="">
</div>

</div>
      
       
              
        </div>
      </div>
    </main>
    <section class="skills container">
      <h2>contacto</h2>
      <div class="skills-content">
        <img src="images/l1.png" alt="">
        <img src="images/l2.png" alt="">
        <img src="images/l3.png" alt="">
        <img src="images/l4.png" alt="">
        <img src="images/l5.png" alt="">
        <img src="images/l6.png" alt="">
      </div>
    
  </body>
</html>
